In [515]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
from sklearn.linear_model import LinearRegression
from statsmodels.graphics.tsaplots import plot_pacf
from sklearn.linear_model import Ridge
from sklearn.metrics import mean_squared_log_error
from statsmodels.tsa.deterministic import CalendarFourier, DeterministicProcess, Fourier

# Time Related Features
def create_date_features(df):
    df['month'] = df.index.month.astype("int8")
    df['day_of_month'] = df.index.day.astype("int8")
    df['day_of_year'] = df.index.dayofyear.astype("int16")
    df['week_of_year'] = (df.index.isocalendar().week).astype("int8")
    df['day_of_week'] = (df.index.dayofweek + 1).astype("int8")
    df['year'] = df.index.year.astype("int32")
    df["is_wknd"] = (df.index.weekday // 4).astype("int8")
    df["quarter"] = df.index.quarter.astype("int8")
    df['is_month_start'] = df.index.is_month_start.astype("int8")
    df['is_month_end'] = df.index.is_month_end.astype("int8")
    df['is_quarter_start'] = df.index.is_quarter_start.astype("int8")
    df['is_quarter_end'] = df.index.is_quarter_end.astype("int8")
    df['is_year_start'] = df.index.is_year_start.astype("int8")
    df['is_year_end'] = df.index.is_year_end.astype("int8")
    # 0: Winter - 1: Spring - 2: Summer - 3: Fall
    df["season"] = np.where(df.month.isin([12,1,2]), 0, 1)
    df["season"] = np.where(df.month.isin([6,7,8]), 2, df["season"])
    df["season"] = np.where(df.month.isin([9, 10, 11]), 3, df["season"]).astype("int8")
    return df

In [516]:
train = pd.read_csv("data/train.csv", parse_dates=['date'], infer_datetime_format=True)
test = pd.read_csv("data/test.csv", parse_dates=['date'], infer_datetime_format=True)
transactions = pd.read_csv("data/transactions.csv", parse_dates=['date'], infer_datetime_format=True)
stores = pd.read_csv("data/stores.csv",index_col='store_nbr')
oil = pd.read_csv("data/oil.csv", parse_dates=['date'], infer_datetime_format=True, index_col='date')
holidays_events = pd.read_csv("data/holidays_events.csv", parse_dates=['date'], infer_datetime_format=True)

#foutje uit ander notebook meenemen
holidays_events['date'] = holidays_events['date'].replace({'2013-04-29' : 
                                         pd.to_datetime('2013-03-29')})

In [517]:
#Dataframe maken waarin je events in tijd kwijt kan
#let op dit is de train periode EN de test periode
calendar = pd.DataFrame(index=pd.date_range('2013-01-01','2017-08-31'))
#olieprijs toevoegen
calendar = calendar.join(oil, how='left')
calendar = calendar.rename(columns={"dcoilwtico": "oilprice"})
#lege waarden vullen
calendar['oilprice'].fillna(method='ffill', inplace=True)
#eerste waarde vullen
calendar['oilprice'].fillna(method='bfill', inplace=True)

#tijdsgebonden features
calendar = create_date_features(calendar)

2013-01-01    0
2013-01-02    0
2013-01-03    0
2013-01-04    0
2013-01-05    0
             ..
2017-08-27    1
2017-08-28    1
2017-08-29    1
2017-08-30    1
2017-08-31    1
Freq: D, Name: season, Length: 1704, dtype: int64
2013-01-01    0
2013-01-02    0
2013-01-03    0
2013-01-04    0
2013-01-05    0
             ..
2017-08-27    2
2017-08-28    2
2017-08-29    2
2017-08-30    2
2017-08-31    2
Freq: D, Name: season, Length: 1704, dtype: int64
2013-01-01    0
2013-01-02    0
2013-01-03    0
2013-01-04    0
2013-01-05    0
             ..
2017-08-27    2
2017-08-28    2
2017-08-29    2
2017-08-30    2
2017-08-31    2
Freq: D, Name: season, Length: 1704, dtype: int8

In [518]:
special_event = holidays_events['date'][holidays_events['type']=='Event']
additional_day = holidays_events['date'][(holidays_events['type']=='Additional') & (holidays_events['locale'] == 'National')]

national_transferred= holidays_events['date'][(holidays_events['type'] == 'Transfer') & (holidays_events['locale'] == 'National')]
national_bridged = holidays_events['date'][(holidays_events['type']=='Bridge')]
national_Workday = holidays_events['date'][(holidays_events['type']=='Work Day')]

national_holiday = holidays_events['date'][(holidays_events['type'] == 'Holiday') & (holidays_events['locale'] == 'National') & (holidays_events['transferred'] == False)]



local_transferred = holidays_events[(holidays_events['type'] == 'Transfer') & (holidays_events['locale'] == 'Local')]
local_transferred['combined'] = local_transferred[['locale', 'locale_name']].agg('-'.join, axis=1)
local_transferred.index = local_transferred.date
local_transferred = local_transferred[['combined']]

local_holiday = holidays_events[(holidays_events['type'] == 'Holiday') & (holidays_events['locale'] == 'Local') & (holidays_events['transferred'] == False)]
local_holiday['combined'] = local_holiday[['locale', 'locale_name']].agg('-'.join, axis=1)
local_holiday.index = local_holiday.date
local_holiday = local_holiday[['combined']]

regional_holiday = holidays_events[(holidays_events['type'] == 'Holiday') & (holidays_events['locale'] == 'Regional') & (holidays_events['transferred'] == False)]
regional_holiday['combined'] = regional_holiday[['locale', 'locale_name']].agg('-'.join, axis=1)
regional_holiday.index = regional_holiday.date
regional_holiday = regional_holiday[['combined']]

/var/folders/8_/wvr5hnlj5k360g467qxb57qr0000gn/T/ipykernel_5593/1075823077.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  local_transferred['combined'] = local_transferred[['locale', 'locale_name']].agg('-'.join, axis=1)
/var/folders/8_/wvr5hnlj5k360g467qxb57qr0000gn/T/ipykernel_5593/1075823077.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  local_holiday['combined'] = local_holiday[['locale', 'locale_name']].agg('-'.join, axis=1)
/var/folders/8_/wvr5hnlj5k360g467qxb57qr0000gn/T/ipykernel_5593/1075823077.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  regional_holiday['combined'] = regional_holiday[['locale', 'locale_name']].agg('-'.join, axis=1)

In [519]:
sp = pd.DataFrame(calendar.index.isin(special_event.tolist()))
sp.index = calendar.index
calendar['specialevent'] = sp

ad = pd.DataFrame(calendar.index.isin(additional_day.tolist()))
ad.index = calendar.index
calendar['additionalday'] = ad

nt = pd.DataFrame(calendar.index.isin(national_transferred.tolist()))
nt.index = calendar.index
calendar['nationaltransferred'] = nt

nb = pd.DataFrame(calendar.index.isin(national_bridged.tolist()))
nb.index = calendar.index
calendar['nationalbridged'] = nb

wd = pd.DataFrame(calendar.index.isin(national_Workday.tolist()))
wd.index = calendar.index
calendar['nationalworkday'] = wd

nh = pd.DataFrame(calendar.index.isin(national_holiday.tolist()))
nh.index = calendar.index
calendar['nationalholiday'] = nh

In [520]:
calendar

,oilprice,month,day_of_month,day_of_year,week_of_year,day_of_week,year,is_wknd,quarter,is_month_start,...,is_quarter_end,is_year_start,is_year_end,season,specialevent,additionalday,nationaltransferred,nationalbridged,nationalworkday,nationalholiday
2013-01-01,93.14,1,1,1,1,2,2013,0,1,1,...,0,1,0,0,False,False,False,False,False,True
2013-01-02,93.14,1,2,2,1,3,2013,0,1,0,...,0,0,0,0,False,False,False,False,False,False
2013-01-03,92.97,1,3,3,1,4,2013,0,1,0,...,0,0,0,0,False,False,False,False,False,False
2013-01-04,93.12,1,4,4,1,5,2013,1,1,0,...,0,0,0,0,False,False,False,False,False,False
2013-01-05,93.12,1,5,5,1,6,2013,1,1,0,...,0,0,0,0,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017-08-27,47.65,8,27,239,34,7,2017,1,3,0,...,0,0,0,2,False,False,False,False,False,False
2017-08-28,46.40,8,28,240,35,1,2017,0,3,0,...,0,0,0,2,False,False,False,False,False,False
2017-08-29,46.46,8,29,241,35,2,2017,0,3,0,...,0,0,0,2,False,False,False,False,False,False
2017-08-30,45.96,8,30,242,35,3,2017,0,3,0,...,0,0,0,2,False,False,False,False,False,False
2017-08-31,47.26,8,31,243,35,4,2017,0,3,0,...,0,0,0,2,False,False,False,False,False,False

In [521]:
#onehotting the local ones
calendar = calendar.join(
    pd.get_dummies(local_transferred,prefix='local_transferred')
    , how='left'
    )

calendar = calendar.join(
    pd.get_dummies(local_holiday,prefix='local_holiday')
    , how='left'
    )

calendar = calendar.join(
    pd.get_dummies(regional_holiday,prefix='regional_holiday')
    , how='left'
    )
calendar = calendar.fillna(0)

In [522]:
calendar

,oilprice,month,day_of_month,day_of_year,week_of_year,day_of_week,year,is_wknd,quarter,is_month_start,...,local_holiday_Local-Puyo,local_holiday_Local-Quevedo,local_holiday_Local-Quito,local_holiday_Local-Riobamba,local_holiday_Local-Salinas,local_holiday_Local-Santo Domingo,regional_holiday_Regional-Cotopaxi,regional_holiday_Regional-Imbabura,regional_holiday_Regional-Santa Elena,regional_holiday_Regional-Santo Domingo de los Tsachilas
2013-01-01,93.14,1,1,1,1,2,2013,0,1,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2013-01-02,93.14,1,2,2,1,3,2013,0,1,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2013-01-03,92.97,1,3,3,1,4,2013,0,1,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2013-01-04,93.12,1,4,4,1,5,2013,1,1,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2013-01-05,93.12,1,5,5,1,6,2013,1,1,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017-08-27,47.65,8,27,239,34,7,2017,1,3,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2017-08-28,46.40,8,28,240,35,1,2017,0,3,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2017-08-29,46.46,8,29,241,35,2,2017,0,3,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2017-08-30,45.96,8,30,242,35,3,2017,0,3,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2017-08-31,47.26,8,31,243,35,4,2017,0,3,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [380]:
calendar.shape

(1704, 16)

In [258]:
train = new_df

train.date = train.date.dt.to_period('D')
train = train.set_index(['store_nbr', 'family', 'date']).sort_index()

In [259]:
train

                                      id  sales  onpromotion       city  \
store_nbr family     date
1         AUTOMOTIVE 2013-01-01        0    0.0            0      Quito
                     2013-01-02     1782    2.0            0      Quito
                     2013-01-03     3564    3.0            0      Quito
                     2013-01-04     5346    3.0            0      Quito
                     2013-01-05     7128    5.0            0      Quito
...                                  ...    ...          ...        ...
54        SEAFOOD    2017-08-11  2993627    0.0            0  El Carmen
                     2017-08-12  2995409    1.0            1  El Carmen
                     2017-08-13  2997191    2.0            0  El Carmen
                     2017-08-14  2998973    0.0            0  El Carmen
                     2017-08-15  3000755    3.0            0  El Carmen

                                     state storetype  cluster  transactions  \
store_nbr family     date
1         AUTOMOTIVE 2013-01-01  Pichincha         D       13           0.0
                     2013-01-02  Pichincha         D       13        2111.0
                     2013-01-03  Pichincha         D       13        1833.0
                     2013-01-04  Pichincha         D       13        1863.0
                     2013-01-05  Pichincha         D       13        1509.0
...                                    ...       ...      ...           ...
54        SEAFOOD    2017-08-11     Manabi         C        3         768.0
                     2017-08-12     Manabi         C        3         903.0
                     2017-08-13     Manabi         C        3        1054.0
                     2017-08-14     Manabi         C        3         818.0
                     2017-08-15     Manabi         C        3         802.0

                                 WorkDay
store_nbr family     date
1         AUTOMOTIVE 2013-01-01    False
                     2013-01-02     True
                     2013-01-03     True
                     2013-01-04     True
                     2013-01-05     True
...                                  ...
54        SEAFOOD    2017-08-11    False
                     2017-08-12     True
                     2017-08-13     True
                     2017-08-14     True
                     2017-08-15     True

[3000888 rows x 9 columns]

In [261]:
calendar

,oilprice,month,day_of_month,day_of_year,week_of_year,day_of_week,year,is_wknd,quarter,is_month_start,is_month_end,is_quarter_start,is_quarter_end,is_year_start,is_year_end,season
2013-01-01,93.14,1,1,1,1,2,2013,0,1,1,0,1,0,1,0,NaN
2013-01-02,93.14,1,2,2,1,3,2013,0,1,0,0,0,0,0,0,NaN
2013-01-03,92.97,1,3,3,1,4,2013,0,1,0,0,0,0,0,0,NaN
2013-01-04,93.12,1,4,4,1,5,2013,1,1,0,0,0,0,0,0,NaN
2013-01-05,93.12,1,5,5,1,6,2013,1,1,0,0,0,0,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017-08-27,47.65,8,27,239,34,7,2017,1,3,0,0,0,0,0,0,NaN
2017-08-28,46.40,8,28,240,35,1,2017,0,3,0,0,0,0,0,0,NaN
2017-08-29,46.46,8,29,241,35,2,2017,0,3,0,0,0,0,0,0,NaN
2017-08-30,45.96,8,30,242,35,3,2017,0,3,0,0,0,0,0,0,NaN
2017-08-31,47.26,8,31,243,35,4,2017,0,3,0,1,0,0,0,0,NaN

In [263]:
train = train.drop(columns=['city','state'])

In [264]:
train = pd.get_dummies(train, columns=['storetype'], drop_first=False)

In [273]:
train['oil']  = calendar.loc[start_date:end_date]['oilprice'].values
train['type'] = calendar.loc[start_date:end_date]['type'].values

                                      id  sales  onpromotion  cluster  \
store_nbr family     date
1         AUTOMOTIVE 2013-01-01        0    0.0            0       13
                     2013-01-02     1782    2.0            0       13
                     2013-01-03     3564    3.0            0       13
                     2013-01-04     5346    3.0            0       13
                     2013-01-05     7128    5.0            0       13
...                                  ...    ...          ...      ...
54        SEAFOOD    2017-08-11  2993627    0.0            0        3
                     2017-08-12  2995409    1.0            1        3
                     2017-08-13  2997191    2.0            0        3
                     2017-08-14  2998973    0.0            0        3
                     2017-08-15  3000755    3.0            0        3

                                 transactions  WorkDay
store_nbr family     date
1         AUTOMOTIVE 2013-01-01           0.0    False
                     2013-01-02        2111.0     True
                     2013-01-03        1833.0     True
                     2013-01-04        1863.0     True
                     2013-01-05        1509.0     True
...                                       ...      ...
54        SEAFOOD    2017-08-11         768.0    False
                     2017-08-12         903.0     True
                     2017-08-13        1054.0     True
                     2017-08-14         818.0     True
                     2017-08-15         802.0     True

[3000888 rows x 6 columns]

In [266]:
y = train.unstack(['store_nbr', 'family']).loc[start_date:end_date]

In [267]:
y

                   id                                                     \
store_nbr          1
family     AUTOMOTIVE BABY CARE   BEAUTY BEVERAGES    BOOKS BREAD/BAKERY
date
2017-04-01    2756754   2756755  2756756   2756757  2756758      2756759
2017-04-02    2758536   2758537  2758538   2758539  2758540      2758541
2017-04-03    2760318   2760319  2760320   2760321  2760322      2760323
2017-04-04    2762100   2762101  2762102   2762103  2762104      2762105
2017-04-05    2763882   2763883  2763884   2763885  2763886      2763887
...               ...       ...      ...       ...      ...          ...
2017-08-11    2991978   2991979  2991980   2991981  2991982      2991983
2017-08-12    2993760   2993761  2993762   2993763  2993764      2993765
2017-08-13    2995542   2995543  2995544   2995545  2995546      2995547
2017-08-14    2997324   2997325  2997326   2997327  2997328      2997329
2017-08-15    2999106   2999107  2999108   2999109  2999110      2999111

                                                   ...   WorkDay         \
store_nbr                                          ...        54
family     CELEBRATION CLEANING    DAIRY     DELI  ... MAGAZINES  MEATS
date                                               ...
2017-04-01     2756760  2756761  2756762  2756763  ...      True   True
2017-04-02     2758542  2758543  2758544  2758545  ...      True   True
2017-04-03     2760324  2760325  2760326  2760327  ...      True   True
2017-04-04     2762106  2762107  2762108  2762109  ...      True   True
2017-04-05     2763888  2763889  2763890  2763891  ...      True   True
...                ...      ...      ...      ...  ...       ...    ...
2017-08-11     2991984  2991985  2991986  2991987  ...     False  False
2017-08-12     2993766  2993767  2993768  2993769  ...      True   True
2017-08-13     2995548  2995549  2995550  2995551  ...      True   True
2017-08-14     2997330  2997331  2997332  2997333  ...      True   True
2017-08-15     2999112  2999113  2999114  2999115  ...      True   True

                                                                       \
store_nbr
family     PERSONAL CARE PET SUPPLIES PLAYERS AND ELECTRONICS POULTRY
date
2017-04-01          True         True                    True    True
2017-04-02          True         True                    True    True
2017-04-03          True         True                    True    True
2017-04-04          True         True                    True    True
2017-04-05          True         True                    True    True
...                  ...          ...                     ...     ...
2017-08-11         False        False                   False   False
2017-08-12          True         True                    True    True
2017-08-13          True         True                    True    True
2017-08-14          True         True                    True    True
2017-08-15          True         True                    True    True


store_nbr
family     PREPARED FOODS PRODUCE SCHOOL AND OFFICE SUPPLIES SEAFOOD
date
2017-04-01           True    True                       True    True
2017-04-02           True    True                       True    True
2017-04-03           True    True                       True    True
2017-04-04           True    True                       True    True
2017-04-05           True    True                       True    True
...                   ...     ...                        ...     ...
2017-08-11          False   False                      False   False
2017-08-12           True    True                       True    True
2017-08-13           True    True                       True    True
2017-08-14           True    True                       True    True
2017-08-15           True    True                       True    True

[137 rows x 10692 columns]

In [268]:
fourier = CalendarFourier(freq='W', order=4)
dp = DeterministicProcess(index=y.index,
                          constant=False,
                          order=1,
                          seasonal=False,
                          additional_terms=[fourier],
                          drop=True)
X = dp.in_sample()

In [269]:
X

,trend,"sin(1,freq=W-SUN)","cos(1,freq=W-SUN)","sin(2,freq=W-SUN)","cos(2,freq=W-SUN)","sin(3,freq=W-SUN)","cos(3,freq=W-SUN)"
date,,,,,,,
2017-04-01,1.0,-0.974928,-0.222521,0.433884,-0.900969,0.781831,0.623490
2017-04-02,2.0,-0.781831,0.623490,-0.974928,-0.222521,-0.433884,-0.900969
2017-04-03,3.0,0.000000,1.000000,0.000000,1.000000,0.000000,1.000000
2017-04-04,4.0,0.781831,0.623490,0.974928,-0.222521,0.433884,-0.900969
2017-04-05,5.0,0.974928,-0.222521,-0.433884,-0.900969,-0.781831,0.623490
...,...,...,...,...,...,...,...
2017-08-11,133.0,-0.433884,-0.900969,0.781831,0.623490,-0.974928,-0.222521
2017-08-12,134.0,-0.974928,-0.222521,0.433884,-0.900969,0.781831,0.623490
2017-08-13,135.0,-0.781831,0.623490,-0.974928,-0.222521,-0.433884,-0.900969
2017-08-14,136.0,0.000000,1.000000,0.000000,1.000000,0.000000,1.000000
2017-08-15,137.0,0.781831,0.623490,0.974928,-0.222521,0.433884,-0.900969

In [270]:
model = Ridge(fit_intercept=True, solver='auto', alpha=0.5, normalize=True) # try alpha,0.1 ,0.3 ,0.6 and 0.9
model.fit(X, y)
y_pred = pd.DataFrame(model.predict(X), index=X.index, columns=y.columns)

/Users/tijsvandervelden/opt/anaconda3/envs/TS/lib/python3.8/site-packages/sklearn/linear_model/_base.py:141: FutureWarning: 'normalize' was deprecated in version 1.0 and will be removed in 1.2.
If you wish to scale the data, use Pipeline with a StandardScaler in a preprocessing stage. To reproduce the previous behavior:

from sklearn.pipeline import make_pipeline

model = make_pipeline(StandardScaler(with_mean=False), Ridge())

If you wish to pass a sample_weight parameter, you need to pass it as a fit parameter to each step of the pipeline as follows:

kwargs = {s[0] + '__sample_weight': sample_weight for s in model.steps}
model.fit(X, y, **kwargs)

Set parameter alpha to: original_alpha * n_samples.
  warnings.warn(

In [271]:
y_pred

                      id                                            \
store_nbr             1
family        AUTOMOTIVE     BABY CARE        BEAUTY     BEVERAGES
date
2017-04-01  2.796560e+06  2.796561e+06  2.796562e+06  2.796563e+06
2017-04-02  2.798145e+06  2.798146e+06  2.798147e+06  2.798148e+06
2017-04-03  2.799734e+06  2.799735e+06  2.799736e+06  2.799737e+06
2017-04-04  2.801318e+06  2.801319e+06  2.801320e+06  2.801321e+06
2017-04-05  2.801517e+06  2.801518e+06  2.801519e+06  2.801520e+06
...                  ...           ...           ...           ...
2017-08-11  2.954343e+06  2.954344e+06  2.954345e+06  2.954346e+06
2017-08-12  2.954541e+06  2.954542e+06  2.954543e+06  2.954544e+06
2017-08-13  2.956127e+06  2.956128e+06  2.956129e+06  2.956130e+06
2017-08-14  2.957716e+06  2.957717e+06  2.957718e+06  2.957719e+06
2017-08-15  2.959299e+06  2.959300e+06  2.959301e+06  2.959302e+06

                                                                    \
store_nbr
family             BOOKS  BREAD/BAKERY   CELEBRATION      CLEANING
date
2017-04-01  2.796564e+06  2.796565e+06  2.796566e+06  2.796567e+06
2017-04-02  2.798149e+06  2.798150e+06  2.798151e+06  2.798152e+06
2017-04-03  2.799738e+06  2.799739e+06  2.799740e+06  2.799741e+06
2017-04-04  2.801322e+06  2.801323e+06  2.801324e+06  2.801325e+06
2017-04-05  2.801521e+06  2.801522e+06  2.801523e+06  2.801524e+06
...                  ...           ...           ...           ...
2017-08-11  2.954347e+06  2.954348e+06  2.954349e+06  2.954350e+06
2017-08-12  2.954545e+06  2.954546e+06  2.954547e+06  2.954548e+06
2017-08-13  2.956131e+06  2.956132e+06  2.956133e+06  2.956134e+06
2017-08-14  2.957720e+06  2.957721e+06  2.957722e+06  2.957723e+06
2017-08-15  2.959303e+06  2.959304e+06  2.959305e+06  2.959306e+06

                                        ...   WorkDay                          \
store_nbr                               ...        54
family             DAIRY          DELI  ... MAGAZINES     MEATS PERSONAL CARE
date                                    ...
2017-04-01  2.796568e+06  2.796569e+06  ...  0.984012  0.984012      0.984012
2017-04-02  2.798153e+06  2.798154e+06  ...  0.983746  0.983746      0.983746
2017-04-03  2.799742e+06  2.799743e+06  ...  0.916781  0.916781      0.916781
2017-04-04  2.801326e+06  2.801327e+06  ...  0.983913  0.983913      0.983913
2017-04-05  2.801525e+06  2.801526e+06  ...  0.983562  0.983562      0.983562
...                  ...           ...  ...       ...       ...           ...
2017-08-11  2.954351e+06  2.954352e+06  ...  0.887008  0.887008      0.887008
2017-08-12  2.954549e+06  2.954550e+06  ...  0.992148  0.992148      0.992148
2017-08-13  2.956135e+06  2.956136e+06  ...  0.991882  0.991882      0.991882
2017-08-14  2.957724e+06  2.957725e+06  ...  0.924918  0.924918      0.924918
2017-08-15  2.959307e+06  2.959308e+06  ...  0.992049  0.992049      0.992049

                                                                          \
store_nbr
family     PET SUPPLIES PLAYERS AND ELECTRONICS   POULTRY PREPARED FOODS
date
2017-04-01     0.984012                0.984012  0.984012       0.984012
2017-04-02     0.983746                0.983746  0.983746       0.983746
2017-04-03     0.916781                0.916781  0.916781       0.916781
2017-04-04     0.983913                0.983913  0.983913       0.983913
2017-04-05     0.983562                0.983562  0.983562       0.983562
...                 ...                     ...       ...            ...
2017-08-11     0.887008                0.887008  0.887008       0.887008
2017-08-12     0.992148                0.992148  0.992148       0.992148
2017-08-13     0.991882                0.991882  0.991882       0.991882
2017-08-14     0.924918                0.924918  0.924918       0.924918
2017-08-15     0.992049                0.992049  0.992049       0.992049


store_nbr
family       PRODUCE SCHOOL AND OFFICE SUPPLIES   SEAFOOD
date
2017-04-01  0.984012                   0.984012  0.984012
2017-04-02  0.983746                   0.983746  0.983746
2017-04-03  0.916781                   0.916781  0.916781
2017-04-04  0.983913                   0.983913  0.983913
2017-04-05  0.983562                   0.983562  0.983562
...              ...                        ...       ...
2017-08-11  0.887008                   0.887008  0.887008
2017-08-12  0.992148                   0.992148  0.992148
2017-08-13  0.991882                   0.991882  0.991882
2017-08-14  0.924918                   0.924918  0.924918
2017-08-15  0.992049                   0.992049  0.992049

[137 rows x 10692 columns]

In [272]:
y_pred   = y_pred.stack(['store_nbr', 'family']).reset_index()
y_target = y.stack(['store_nbr', 'family']).reset_index().copy()
y_target['sales_pred'] = y_pred['sales'].clip(0.) 
y_target.groupby('family').apply(lambda r: mean_squared_log_error(r['sales'], r['sales_pred']))

family
AUTOMOTIVE                    0.277357
BABY CARE                     0.069230
BEAUTY                        0.290089
BEVERAGES                     0.209586
BOOKS                         0.028184
BREAD/BAKERY                  0.132843
CELEBRATION                   0.315267
CLEANING                      0.214651
DAIRY                         0.144729
DELI                          0.116752
EGGS                          0.158071
FROZEN FOODS                  0.161288
GROCERY I                     0.217982
GROCERY II                    0.379017
HARDWARE                      0.285832
HOME AND KITCHEN I            0.278944
HOME AND KITCHEN II           0.230312
HOME APPLIANCES               0.162282
HOME CARE                     0.131468
LADIESWEAR                    0.284489
LAWN AND GARDEN               0.275697
LINGERIE                      0.422620
LIQUOR,WINE,BEER              0.655606
MAGAZINES                     0.270770
MEATS                         0.133189
PERSONAL CARE                 0.147817
PET SUPPLIES                  0.223979
PLAYERS AND ELECTRONICS       0.240112
POULTRY                       0.132436
PREPARED FOODS                0.134394
PRODUCE                       0.195636
SCHOOL AND OFFICE SUPPLIES    1.666358
SEAFOOD                       0.272961
dtype: float64