In [2]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

import pandas as pd

In [3]:
df= pd.DataFrame([[0, 1], [2, 3]],index=['cat', 'dog'],columns=['weight', 'height'])

In [24]:
df.stack()

cat  weight    0
     height    1
dog  weight    2
     height    3
dtype: int64

In [33]:
stacked =df.stack().reset_index(level = 1)

In [34]:
recovered_df1 = df.stack().reset_index(level = 1)
recovered_df1.pivot_table(index = recovered_df1.index, columns = 'level_1',values = 0)

level_1  height  weight
cat           1       0
dog           3       2